# Virtual Environment
Lib/
Include/
Scripts/
pyvenv.cfg
share/

# Vector DB / embeddings
vector_db/

# Data files
docs_dir/
doc_vectorstore/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
.env